@tailwind base;
@tailwind components;
@tailwind utilities;

.homeBG {
  background-image: url('../images/whitehome.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
